/* NOOT */

@media (max-width: 1366px) {
  .operation-info {
    margin-left: 4%;
  }
}


@media (max-width: 1024px) {
  .comments {
    padding-top: 0;
    padding-bottom: 150px;
  }
  .container-comments {
    flex-direction: column;
  }
  .comments-bg {
    transform: translate(70%, 0);
  }
  .container-info {
    padding: 30px;
    margin: 30px 50px;
  }
  .content-p {
    padding: 0 65px;
  }

  /* SING-UP */

  .container-sing-up {
    width: 700px;
    height: 300px;
  }
  .content-form input {
    width: 350px;
  }
  .content-form button {
    width: 220px;
    height: 50px;
    margin-left: 15px;
  }
}



/* TABLET */



@media (min-width: 600px) and (max-width: 959px) {
  /* MENU */

  .menu {
    padding: 30px 30px 0 30px;
  }
  .menu-nav li {
    margin: 0 1.3rem;
  }
  .menu-nav ul li a {
    font-size: 1.5rem;
  }

  /*MAIN*/

  .intro-img {
    padding: 0 50px;
  }

  .intro-h1 {
    max-width: 65%;
  }
  .intro-info h1 {
    font-size: 2rem;
    line-height: 2.7rem;
    margin: 40px 0 20px 0;
  }
  .intro-text {
    max-width: 60%;
  }
  .intro-info p {
    font-size: 1.4rem;
    line-height: 1.8rem;
  }
  .intro-info a {
    font-size: 1.2rem;
    width: 200px;
    margin: 20px auto 0 auto;
    padding: 0.8rem 1rem;
  }
  .intro-bg {
    display: none;
  }

  /* BENEFITS */

  .container-benefits {
    flex-direction: column;
  }
  .content-benefits {
    max-width: 100%;
  }
  .container-benefits h3 {
    font-size: 1.7rem;
  }
  .container-benefits p {
    font-size: 1.2rem;
    line-height: 1.5rem;
  }

  /* OPERATION */

  .container-operation {
    flex-direction: column;
  }

  .operation-img {
    padding: 50px 50px;
  }
  .operation-img img {
    width: 100%;
  }
  .operation-h1 {
    margin-bottom: 40px;
    max-width: 100%;
  }

  .operation-p p {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-bottom: 30px;
  }
  .operation-p p:last-child {
    margin-bottom: 15px;
  }
  .operation-a a {
    font-size: 1.3rem;
  }
  .operation-a-img img {
    width: 100%;
  }

  /* SING-UP */

  .container-sing-up {
    width: 500px;
    height: 450px;
    transform: translate(-50%, -20%)
  }
  .content-sing-up h1 {
    font-size: 2.2rem;
  }
  .content-p {
    padding: 0 75px;
  }
  .content-p p {
    font-size: 1.3rem;
    line-height: 1.8rem;
  }
  .content-form {
    flex-direction: column;
    align-items: center;
  }
  .content-form input {
    margin-top: 25px;
  }
  .content-form button {
    margin-left: 0;
    margin-top: 20px;
    width: 392px;
    height: 52px;
  }

  /* FOOTER */

  .container-footer {
    flex-direction: column;
    margin-left: 40px;
  }

  .acces-footer {
    font-size: 1.2rem;
  }
  .contact {
    margin-top: 50px;
  }

  .content-contact-footer a {
    font-size: 1.2rem;
  }
  .about-us {
    margin-top: 25px;
  }
  .about nav ul li a {
    font-size: 1.2rem;
  }
  .contact {
    margin-top: 25px;
  }

}


/* MOBILE */


@media (max-width: 599px) {
  .menu {
    padding: 20px 20px 0 20px;
  }
  .container {
    flex-direction: column;
  }
  .menu-nav li {
    margin: 20px 20px 0 20px;
  }
  .menu-nav li:last-child {
    margin: 20px 20px 0 20px;
  }
  .menu-nav a {
    font-size: 1rem;
  }

  /* MAIN */

  .intro {
    padding: 3rem 1.5rem;
    margin: 0;
  }

  .intro-h1 {
    max-width: 100%;
  }
  .intro-info h1 {
    font-size: 1.5rem;
    line-height: 2rem;
    margin: 30px 0 15px;
  }
  .intro-text {
    max-width: 90%;
  }
  .intro-info p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .intro-info a {
    font-size: 0.8rem;
    margin: 30px auto 0 auto;
    width: 200px;
    height: 10px;
  }
  .intro-bg {
    display: none;
  }

  /* BENEFITS */

  .benefits {
    margin: 50px 0 0 0;
  }
  .container-benefits {
    flex-direction: column;
  }
  .content-benefits {
    max-width: 100%;
  }
  .container-benefits h3 {
    font-size: 1.3rem;
  }
  .content-text {
    padding: 0px 30px;
  }
  .container-benefits p {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.2rem;
  }

  /* OPERAÇÂO */

  .container-operation {
    padding: 50px 20px;
    flex-direction: column;
  }
  .operation-img img {
    width: 100%;
  }
  .operation-info {
    margin: 50px 0 50px 0;
  }
  .operation-h1 {
    max-width: 100%;
    margin-bottom: 15px;
  }
  .operation-info h1 {
    font-size: 1.2rem;
  }
  .operation-p p {
    font-size: 1rem;
    line-height: 1.2rem;
    max-width: 100%;
  }
  .operation-a a {
    font-size: 1rem;
  }

  /* SING-UP */


  .container-sing-up {
    width: 320px;
    height: 450px;
    transform: translate(-50%, -30%);
  }
  .content-sing-up h1 {
    font-size: 1.5rem;
  }
  .content-p {
    padding: 0 20px;
  }
  .content-p p {
    font-size: 1rem;
    line-height: 1.8rem;
  }
  .content-form {
    flex-direction: column;
    align-items: center;
  }
  .content-form input {
    margin-top: 25px;
    width: 230px;
  }
  .content-form button {
    margin-left: 0;
    margin-top: 20px;
    width: 275px;
    height: 52px;
  }

  
  /* FOOTER */

  .container-footer {
    flex-direction: column;
    margin-left: 30px;
    overflow: hidden;
  }
  
  .acces-footer {
    font-size: 1rem;
  }
  .acces-footer a {
    max-width: 70%;
  }
  .contact-footer {
    margin-top: 50px;
    margin-bottom: 20px ;
  }

  .content-contact-footer a {
    font-size: 1rem;
  }
  .about {
    margin-top: 50px;
  }
  .about nav ul li a {
    font-size: 1rem;
  }
 
}

