/* MENU */

.menu {
  font-family: "Raleway", sans-serif;
  padding: 60px 60px 0 60px;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  display: flex;
}

.menu-logo img {
  width: 100%;
}

.menu nav {
  display: flex;
}

.menu-nav ul {
  display: flex;
}

.menu-nav li {
  margin: 0 32px;
}
.menu-nav li:last-child {
  margin: 0 0 0 32px;
}

.menu-nav a {
  font-size: 1.3rem;
}

.menu-nav a:hover {
  text-decoration: underline;
}

/* MAIN - INTRODUCTION */

.intro {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin: 5rem 0 5rem 0;
}

.intro-img,
.intro-info {
  align-self: center;
  z-index: 2;
}

.intro-img img {
  width: 100%;
}

.intro-h1 {
  margin: 0 auto;
  max-width: 50%;
}

.intro-h1 h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2.5rem;
  margin: 40px 0 40px 0;
  line-height: 3.8rem;
}

.intro-text {
  margin: 0 auto;
  max-width: 42%;
}

.intro-info p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 2rem;
}

.intro-info a {
  font-size: 1.2rem;
  font-weight: bold;
  display: flex;
  justify-content: center;
  padding: 20px;
  width: 300px;
  margin: 40px auto 0 auto;
  border-radius: 1.5rem;
  background-color: rgb(51, 158, 204);
}

.intro-info a:hover {
  background-color: #65e2d9;
}

/* BENEFITS */

.benefits {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  padding: 10px 0;
}

.container-benefits {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.content-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-img img {
  width: 100%;
}

.container-benefits h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 10px 0;
  font-family: "Raleway", sans-serif;
}

.content-text {
  padding: 0px 150px;
}

.content-text p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

/* OPERATION */

.operation {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  padding: 10px 0;
}

.container-operation {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 5% 3%;
}

.operation-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 8%;
}

.operation-h1 {
  margin-bottom: 15px;
  max-width: 50%;
}

.operation-info h1 {
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.7rem;
  font-family: "Raleway", sans-serif;
}

.operation-p {
  margin-bottom: 15px;
}

.operation-p p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}

.operation-a {
  display: flex;
}

.operation-a a {
  color: #65e2d9;
}

.operation-a a:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 100%);
}

.operation-a-img img {
  margin-left: 10px;
}

/*COMMENTS*/

.comments {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  padding: 100px 0;
}

.container-comments {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}

.container-info {
  display: flex;
  flex-direction: column;
  background-color: hsl(219, 30%, 18%);
  padding: 30px;
  margin: 0 30px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px #000;
}

.container-text {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.comments-img img {
  max-width: 30px;
  border-radius: 50%;
}

.container-info p {
  margin-bottom: 10px;
  line-height: 1.5rem;
}

.comments-text {
  margin-left: 10px;
}

.comments-text h3 {
  font-weight: bold;
  font-size: 0.9rem;
}

.comments-text p {
  font-size: 0.7rem;
}

/*SING-UP*/

.sing-up {
  padding: 100px 0;
  background-color: hsl(218, 28%, 13%);
}

.container-sing-up {
  background-color: hsl(219, 30%, 18%);
  border-radius: 5px;
  width: 1000px;
  height: 300px;
  position: absolute;
  left: 25%;
  transform: translateX(-13%);
  box-shadow: 2px 2px 5px #000;
}

.content-sing-up h1 {
  font-weight: bold;
  font-size: 2.3rem;
  text-align: center;
  padding: 40px 0 30px 0;
}

.content-p {
  padding: 0 120px;
}

.content-p p {
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  line-height: 1.5rem;
}

.content-form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
}

.content-form label {
  display: none;
}

.content-form input {
  width: 500px;
  height: 50px;
  padding-left: 40px;
  border-radius: 50px;
  border: 0;
  outline: none;
  font-size: 1.2rem;
}

.content-form input::placeholder {
  font-size: 1.2rem;
}

.content-form button {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  width: 270px;
  height: 50px;
  margin-left: 40px;
  border: 0;
  border-radius: 50px;
  background-color: rgb(51, 158, 204);
}

.content-form button:hover {
  background-color: #65e2d9;
}

/* FOOTER */

.footer {
  background-color: hsl(216, 53%, 9%);
  padding: 300px 0 100px 0;
}

.container-footer {
  display: flex;
  justify-content: space-around;
  max-width: 1440px;
  margin: 0 auto;
}

.localization-footer {
  display: flex;
  flex-direction: column;
  width: 370px;
}

.logo-footer {
  margin-bottom: 40px;
}

.acces-footer {
  display: flex;
}

.acces-footer a {
  line-height: 1.5rem;
}

.acces-footer img {
  margin-right: 30px;
}

.contact-footer {
  margin-top: 90px;
}

.content-contact-footer {
  display: flex;
  padding: 10px 0;
}

.contact-footer-img {
  margin-right: 20px;
}

.about {
  margin-top: 90px;
}

.about nav ul li {
  padding: 10px 0;
}

