/* MENU */

.menu {
  font-family: "Raleway", sans-serif;
  padding: 60px 60px 0 60px;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu-logo {
  display: flex;
}

.menu-logo img {
  width: 100%;
}

.menu nav {
  display: flex;
}

.menu-nav ul {
  display: flex;
}

.menu-nav li {
  margin: 0 32px;
}
.menu-nav li:last-child {
  margin: 0 0 0 32px;
}

.menu-nav a {
  font-size: 1.3rem;
  color: hsl(0, 0%, 100%);
}

.menu-nav a:hover {
  text-decoration: underline;
}

/* RESPONSIVE */

@media (min-width: 960px) and (max-width: 1024px) {
  .menu {
    padding: 40px 40px 0 40px;
  }
}

@media (min-width: 600px) and (max-width: 959px) {
  .menu {
    padding: 30px 30px 0 30px;
  }
  .menu-nav li {
    margin: 0 1.3rem;
  }
  .menu-nav ul li a {
    font-size: 1.1rem;
  }
}

@media (min-width: 320px) and (max-width: 599px) {
  .menu {
    padding: 20px 20px;
  }
  .container {
    flex-direction: column;
  }
  .menu-nav li {
    margin: 20px 20px 0 20px;
  }
  .menu-nav li:last-child {
    margin: 20px 20px 0 20px;
  }
  .menu-nav a {
    font-size: 1rem;
  }
}

/* MAIN - INTRODUCTION */

.intro {
  display: flex;
  flex-direction: column;
  font-family: "Raleway", sans-serif;
  margin: 5rem 0 0 0;
}

.intro-img,
.intro-info {
  align-self: center;
  color: hsl(0, 0%, 100%);
  z-index: 2;
}

.intro-img img {
  width: 100%;
}

.intro-h1 {
  margin: 0 auto;
  max-width: 50%;
}

.intro-h1 h1 {
  font-weight: bold;
  text-align: center;
  font-size: 2.3rem;
  margin: 40px 0 30px 0;
  line-height: 2.7rem;
}

.intro-text {
  margin: 0 auto;
  max-width: 40%;
}

.intro-info p {
  text-align: center;
  font-size: 1.4rem;
  line-height: 1.7rem;
}

.intro-info a {
  display: flex;
  justify-content: center;
  font-size: 1.2rem;
  font-weight: bold;
  background-color: rgb(51, 158, 204);
  border-radius: 1.5rem;
  margin: 25px auto;
  max-width: 200px;
  color: hsl(0, 0%, 100%);
  padding: 1rem 1rem;
}

.intro-info a:hover {
  background-color: #65e2d9;
}

@media (min-width: 721px) and (max-width: 1024px) {
  .intro-img {
    padding: 0 50px;
  }
  .intro-h1 {
    max-width: 90%;
  }
  .intro-info h1 {
    font-size: 2rem;
    line-height: 2rem;
    margin: 40px 0 20px 0;
  }
  .intro-text {
    max-width: 70%;
  }
  .intro-info p {
    font-size: 1.2rem;
    line-height: 1.6rem;
  }
  .intro-info a {
    margin: 20px auto;
    padding: 0.8rem 1rem;
  }
}

/* MOBILE*/

@media (min-width: 320px) and (max-width: 720px) {
  .intro {
    margin: 3rem 0 0 0;
  }
  .intro-img {
    padding: 0 30px;
  }
  .intro-h1 {
    max-width: 90%;
  }
  .intro-info h1 {
    font-size: 1.4rem;
    line-height: 2rem;
    margin: 30px 0 15px;
  }
  .intro-text {
    max-width: 80%;
  }
  .intro-info p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .intro-info a {
    font-size: 0.8rem;
    margin: 30px auto 0 auto;
    max-width: 200px;
    padding: 1rem 1rem;
  }
}

/* BENEFITS */

.benefits {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  padding: 100px 0;
}

.container-benefits {
  display: flex;
  max-width: 1440px;
  margin: 0 auto;
}

.content-benefits {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 50px;
}

.content-img img {
  width: 100%;
}

.container-benefits h3,
.content-text p {
  color: hsl(0, 0%, 100%);
}

.container-benefits h3 {
  font-size: 1.5rem;
  font-weight: bold;
  margin: 20px 0 10px 0;
  font-family: "Raleway", sans-serif;
}

.content-text {
  padding: 0px 150px;
}

.content-text p {
  font-size: 1rem;
  text-align: center;
  line-height: 1.5rem;
}

@media (min-width: 721px) and (max-width: 1023px) {
  .container-benefits h3 {
    font-size: 1.4rem;
  }
  .content-text {
    padding: 0px 30px;
  }
  .container-benefits p {
    font-size: 1rem;
    line-height: 1.3rem;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .benefits {
    margin: 50px 0 0 0;
  }
  .container-benefits {
    flex-direction: column;
  }
  .content-benefits {
    margin: 30px 0;
  }
  .container-benefits h3 {
    font-size: 1.3rem;
  }
  .content-text {
    padding: 0px 30px;
  }
  .container-benefits p {
    font-size: 0.9rem;
    text-align: center;
    line-height: 1.2rem;
  }
}

/* OPERATION */

.operation {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  padding: 100px 0;
}

.container-operation {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
  padding: 5% 3%;
}

.operation-info {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-left: 8%;
  color: hsl(0, 0%, 100%);
}

.operation-h1 {
  margin-bottom: 15px;
  max-width: 50%;
}

.operation-info h1 {
  font-weight: bold;
  font-size: 2.3rem;
  line-height: 2.7rem;
  font-family: "Raleway", sans-serif;
}

.operation-p {
  margin-bottom: 15px;
}

.operation-p p {
  font-size: 1.1rem;
  line-height: 1.7rem;
  font-family: "Raleway", sans-serif;
  margin-bottom: 15px;
}

.operation-a {
  display: flex;
}

.operation-a a {
  color: #65e2d9;
}

.operation-a a:hover {
  text-decoration: underline;
  color: hsl(0, 0%, 100%);
}

.operation-a-img img {
  margin-left: 10px;
}

@media (max-width: 1366px) {
  .operation-h1 {
    margin-bottom: 15px;
    max-width: 100%;
  }
  .operation-info {
    margin-left: 4%;
  }
}

@media (max-width: 1023px) {
  .container-operation {
    flex-direction: column;
    padding: 50px 50px;
  }
  .operation-img img {
    width: 100%;
  }
  .operation-info {
    margin-left: 0;
    margin-top: 8%;
  }
  .operation-h1 {
    margin-bottom: 15px;
    max-width: 100%;
  }
  .operation-info h1 {
    font-size: 2rem;
  }
  .operation-p p {
    font-size: 1.3rem;
    line-height: 1.9rem;
    margin-bottom: 30px;
  }
  .operation-p p:last-child {
    margin-bottom: 15px;
  }
  .operation-a a {
    font-size: 1.3rem;
  }
  .operation-a-img img {
    width: 100%;
  }
}
@media (max-width: 600px) {
  .container-operation {
    padding: 50px 30px;
  }
  .operation-info {
    margin: 50px 0 50px 0;
  }
  .operation-h1 {
    margin-bottom: 15px;
  }
  .operation-info h1 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
  .operation-p p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .operation-a a {
    font-size: 1rem;
  }
}

/*COMMENTS*/

.comments {
  background-color: hsl(218, 28%, 13%);
  width: 100%;
  padding: 100px 0;
}

.container-comments {
  max-width: 1440px;
  display: flex;
  margin: 0 auto;
}

.container-info {
  display: flex;
  flex-direction: column;
  background-color: hsl(219, 30%, 18%);
  padding: 30px;
  margin: 0 30px;
}

.container-text {
  display: flex;
  margin-top: 20px;
  width: 100%;
}

.comments-img img {
  max-width: 30px;
  border-radius: 50%;
}

.container-info h3,
.container-info p {
  color: hsl(0, 0%, 100%);
}

.container-info p {
  margin-bottom: 10px;
  line-height: 1.5rem;
}

.comments-text {
  margin-left: 10px;
}

.comments-text h3 {
  font-weight: bold;
  font-size: 0.9rem;
}

.comments-text p {
  font-size: 0.7rem;
}

@media (max-width: 1023px) {
  .container-comments {
    display: block;
  }
  .container-info {
    padding: 30px;
    margin: 30px 50px;
  }
}

/*SING-UP*/

.sing-up {
  padding: 50px 0;
  background-color: hsl(218, 28%, 13%);
}

.container-sing-up {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 0 40px;
  background-color: hsl(219, 30%, 18%);
  width: 100%;
  max-width: 1000px;
}

.content-sing-up h1 {
  font-weight: bold;
  font-size: 2.3rem;
  text-align: center;
  color: hsl(0, 0%, 100%);
  margin: 40px 0 30px 0;
}

.content-p {
  padding: 0 120px;
}

.content-p p {
  font-size: 1.1rem;
  font-family: "Raleway", sans-serif;
  text-align: center;
  color: hsl(0, 0%, 100%);
  line-height: 1.5rem;
}

.content-form {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 30px 0;
}

.content-form label {
  display: none;
}

.content-form input {
  max-width: 550px;
  width: 100%;
  height: 60px;
  padding-left: 40px;
  border-radius: 50px;
  border: 0;
  outline: none;
  font-size: 1.2rem;
}

.content-form input::placeholder {
  font-size: 1.2rem;
}

.content-form button {
  font-size: 1.2rem;
  margin-left: 40px;
  padding: 20px 60px;
  cursor: pointer;
  border-radius: 50px;
  border: 0;
  background-color: rgb(51, 158, 204);
  color: hsl(0, 0%, 100%);
}

.content-form button:hover {
  background-color: #65e2d9;
}
