body{
    background: hsl(218, 28%, 15%);
    font-family: "Open Sans", sans-serif;
    box-sizing: border-box;
}

header {
    font-family:"Raleway", sans-serif;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}


ul{
    list-style: none;
}

.menu-content{
    display: flex;
    justify-content: space-between;
    margin: 4rem 0 0 4rem;
    align-items: center;
}

.menu ul{
    display: flex;
}

.menu ul li a{
    font-size: 1.2rem;
    padding: 2rem;
    color: hsl(0, 0%, 100%);
    cursor:pointer;
    position: relative;
    width: 100%;
}

.menu ul li a::after {
    content: '';
    position: absolute;
    bottom: 1.8rem;
    left: 50%;
    width: 0;
    height: 0.1rem;
    background: hsl(0, 0%, 100%);
    /*nas informações não tem dizendo tem trasição dos item*/ 
}

.menu ul li a:hover::after{
    width: 50%;
    left: 25%;
}



