body {
  background: hsl(218, 28%, 15%);
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  display: flex;
}

.menu {
  font-family: "Raleway", sans-serif;
  max-width: 1440px;
  margin: 0 auto;
  padding: 40px 40px 0 40px;
}

.menu ul {
  display: flex;
  justify-content: flex-end;
}

.menu-nav {
  flex: 1;
}

.menu-nav a {
  font-size: 1.2rem;
  padding: 2rem;
  color: hsl(0, 0%, 100%);
}

.menu-nav a:hover {
  text-decoration: underline;
}

@media (max-width: 700px) {
  .menu {
    margin: 0 auto;
    padding: 40px 0 0 40px;
  }
  .menu-nav a {
    padding: 1rem;
  }
}

@media (max-width: 560px) {
  .menu {
    margin: 0 auto;
    padding: 40px 0 0 40px;
  }
  .menu-nav a {
    padding: 1rem;
  }

  .menu-nav ul {
      width: 100%;
  }

  .menu-logo {
      width: 100%;
  }
}